*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.all-head{
    display: flex;
    margin-top: 15px;
    background-color: #006699;
    padding: 25px;
    color: white;
}

.list-head{
    justify-content: center;
    margin: 0.5% 28% auto;
}

.list-head ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.list-head ul a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.list-head li{
    margin-left: 10%;
}

.all-open{
    background-image: url(img/perpussss.jpg);
    background-size: cover;
    height: 80vh;
    align-items: center;
    display: flex;
}

.all-open2{
    background-image: url(img/WhatsApp\ Image\ 2024-11-28\ at\ 10.54.21.jpeg);
    background-size: cover;
    height: 80vh;
    align-items: center;
    display: flex;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px; 
    color: #335338;
    display: flex;
    width: 50px;
    height: 80px;
}

.lisii {
   margin-top: 15px;
   margin-left: 7px;
}

.pengawas {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    flex-direction: column;
}

.pengawas img {
    border-radius: 50%;
    height: 200px;
}

.container {
    border: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #006699;
    border: 2px solid;
    justify-content: space-between;
}

.container3 h3 p {
    border: 2px solid;
    background-color: #006699;
}

.logo-footer {
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}

.logofooter {
    width: 80px;
    height: 100%;
}

.logotitle2 {
    margin-top: 10px;
    color: white;
}

.logo-footer h2 {
    margin-left: 20px;
}

.logo-footer h4 {
    font-weight: 200;
    margin-top: 10px;
    margin-left: 20px;
}

.supportedby {
    color: white;
    display: flex;
}

.row2 {
    margin-left: 90px;
    color: white;
}

.row2 a {
    margin-left: 20px;
    color: white;
}

.h2footer {
    margin: 10px;
    margin-top: 10px;
    color: white;
}

.row3 {
    margin-left: 90px;
    color: white;
}

.lasthome {
    justify-content: space-between;
    align-items: center;
    color: white;
}

.liter {
    color: #006699;
}

footer {
    background-color: #123154;
}